/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Assistant, sans-serif;
}

h1, h2, h3 {
    font-family: Quicksand, sans-serif;
}


/* Header */
header {
    background-color: #C9AA92;
    width: 100%;
}

header a {
    text-decoration: none;
    color: #37230d;
    text-transform: uppercase;
}

nav {
    background-color: #C9AA92;
    color: #37230d;
    text-align: right;
}

.active {
    text-decoration: underline;
    font-size: 90%;
}

/* Main Content */
main {
    background-color: red;
    width: 100%;
}

/* Footer */
footer {
    background-color: blue;
    width: 100%;
}