/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Assistant, sans-serif;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: Quicksand, sans-serif;
}


/* Header */
header {
    background-color: #C9AA92;
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #37230d;
    text-transform: uppercase;
}
#title {
    font-size: 150%;
}

nav {
    background-color: rgba(201, 170, 146, 0.8);
    color: #37230d;
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}

nav ul {
    list-style-type: none;
}


.active {
    text-decoration: underline;
    font-size: 90%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 200%;
}

/* Main Content */
main {
    background-color: red;
    width: 100%;
    margin-top: 105px;
}

/* Footer */
footer {
    background-color: #C9AA92;
    color: #37230d;
    width: 100%;
    text-align: left;
}

footer li {
    list-style-type: none;
}

footer img {    
    max-width: 100px;
    max-height: 100px;
}

#footer-imgs {
    display: flex;
    justify-content: space-evenly;
}

#footer-background {
    background: url(../images/footer-img.png) no-repeat center center/cover;
}

/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /* Header */

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        padding: 20px;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Footer */
    footer img {    
        max-width: 150px;
        max-height: 150px;
    }
}