/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Assistant, sans-serif;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: Quicksand, sans-serif;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #C9AA92;
    width: 100%;
    /* makes the header always visible */
    position: fixed;
    z-index: 99;
    /* makes the nav toggle and bar visually pleasing */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #37230d;
    text-transform: uppercase;
    margin: 10px 10px;
}

#title {
    font-size: 150%;
}

nav {
    background-color: rgba(55, 35, 13, 0.6);
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}

nav ul {
    list-style-type: none;
}

.nav-bar {
    color: #eee7e7;
}


.active {
    text-decoration: underline;
    font-size: 90%;
}

/* Nav toggle */
/* displays nav items when bar is clicked */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    /* hides checkbox */
    display: none;
}

.nav-toggle-label {
    font-size: 200%;
    margin: 10px 10px;
}

/* Main Content */
main {
    width: 100%;
    margin-top: 125px;
    background-color: #37230d;
    color: #eee7e7;
    /* makes the main content push down the footer */
    min-height: 100vh;
}

main h1 {
    text-transform: uppercase;
}

#main-page {
    /* sets the image so no media queries are necessary */
    background: url(../images/main-page-img.jpg) no-repeat center center/cover;
}

.fun-fact {
    /* sets a border around the information in the same color as the writing */
    display: block;
    border: 2px solid #37230d;
    margin: 5px;
    padding: 5px;
}

#fun-fact-two {
    /* sets a border around the information in the same color as the writing */
    display: block;
    border: 2px solid #eee7e7;
    margin: 5px;
    padding: 5px;
}


.fun-fact>p>a {
    text-decoration: none;
    color: #37230d;
}

.fun-fact-one {
    background-color: rgba(191, 252, 252, 0.7);
    color: #37230d;
    width: fit-content;
    margin: 20px 15px;
    padding: 5px 5px;
    max-width: 70%;
    font-size: 120%;
    letter-spacing: 2px;
    display: block;
}

.fun-fact-two {
    background-color: rgba(0, 92, 103, 0.7);
    color: #FFE4E4;
    width: fit-content;
    margin: 20px 15px;
    padding: 5px 5px;
    max-width: 70%;
    font-size: 120%;
    letter-spacing: 2px;
}

/* General Information Page */
#general-information-main {

}

#anatomy {

}

#habitat {

}

#diet {

}

#general-information {
    
}

/* Footer */
footer {
    background-color: rgba(201, 170, 146, 0.8);
    color: #eee7e7;
    width: 100%;
    text-align: left;
    /* to seperate the two images (footer and main) */
    border-top: 2px solid #37230d;
}

footer li {
    /* removes bullet points from list */
    list-style-type: none;
}

footer img {
    max-width: 100px;
    max-height: 100px;
}

#footer-imgs {
    display: flex;
    justify-content: space-around;
}

#footer-background {
    background: url(../images/footer-img.jpg) no-repeat center center/cover;
}


/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        /* shows nav bar in header */
        display: block;
        position: relative;
        width: fit-content;
    }

    nav ul {
        /* makes nav items apear beside one another */
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        padding: 20px;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */

    .fun-fact-two {
        /* moves the second section to the right of the page */
        float: right;
    }

    /* Footer */

    footer img {
        max-width: 150px;
        max-height: 150px;
    }

    #footer-background {
        background: url(../images/footer-img-lrg.jpg) no-repeat center center/cover;
    }
}

/* Media Query: Larger screens (1240px and up) */
@media screen and (min-width:1240px) {

    /* Main Content */
    main {
        margin-bottom: 147px;
    }
    #main-page {
        background: url(../images/main-page-img.webp) no-repeat center center/cover;
    }

    /* Footer */
    footer {
        /* makes the fotter always visible on the screen */
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}